
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/StyleSheet.css" rel="stylesheet" type="text/css">
</head>
<h1>
    Question Page for {{username[2]}}
</h1>
<body>
    <div>
        <form name="submit_question" id = "submit_question" action="{{url_for('get_question', user=username[0])}}" method="POST">
            <p> Days Free</p>
            {% for question in range(0, toPass|length) %}
                {% if toPass[question][2] == 1 %}
                    <input type="checkbox" name={{toPass[question][0]}} value="Yes"> {{ toPass[question][1] }}
                    <input type="hidden" name="{{toPass[question][0]}}" value="No"><br>
                {% elif toPass[question][2] == 2%}
                    <p>{{ toPass[question][1] }}</p>
                    {% for value in toPass[question][3] %}
                     <input type="radio" name={{toPass[question][0]}} value={{value}} required>{{value}}<br>
                    {% endfor %}
                    <input type="radio" name={{toPass[question][0]}} value="No Preference">No Preference<br>
                {% endif %}
            {% endfor %}<br>
            <button type="submit">Submit Button</button>
        </form>
    </div>
</body>
</html>


