<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QUESTION</title>
</head>

<body>

<div class="container form_login">
    <div id="question1"></div>
        <div id="question1"></div>
            <form enctype="multipart/form-data" id="summit_question" name="summit_question" action="" method="post">
                <div class="container">
                    <input type="text" placeholder="Question 1" name="username" id="username" required>
                    <button type="submit">Summit</button>
                </div>
            </form>
        </div>
</body>

<script>
    data = "{{data}}"
    document.getElementById("question1").innerHTML = data
</script>

</html>

