<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/StyleSheet.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div>
        <h2>Login Form</h2>
        <form enctype="multipart/form-data" id="login_form" name="login_form" action="login_request" method="post">
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" id="username" required>
                <button type="submit">Login</button>
            </div>
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
    </div>

    <div>
        <form>
            <input
        </form>
    </div>
</body>
</html>
